body > h1 {
  font-size: x-large;
  text-align: center;
}

@media screen and (min-width: 600px) {
  .extra {
    padding-top: 200px;
  }

  .extra h3 {
    text-align: start;
    text-indent: 20px;
  }

  .content {
    display: flex;
  }
}
