nav {
  z-index: 10000;
  background-color: var(--color-card);
  position: fixed;
  display: block;
  width: 100%;
  top: 0;
}

nav img {
  width: 50px;
  display: inline-block;
  margin: 10px 30px;
}

nav a {
  display: inline-block;
  width: 100px;
  color: var(--color-text);
  text-decoration: none;
  margin-top: auto;
  margin-bottom: auto;
  font-size: larger;
  position: relative;
  text-align: center;
}

.navlinks {
  position: absolute;
  right: 0;
  width: 100%;
  display: flex;
  visibility: hidden;
  align-items: center;
  transition-property: opacity;
  transition: all 0.5s ease;
  flex-direction: column;
  gap: 10px;

  opacity: 0;
}

nav a::after {
  content: "";
  border-bottom: 4px solid white;
  position: absolute;
  bottom: -2px;
  transition-property: width, left;
  width: 0%;
  left: 50%;
  transition: all 0.25s ease-in;
}

nav a:hover::after {
  width: 70%;
  left: 15%;
  transition-property: width, left;
  transition: all 0.5s ease-out;
}

nav::after {
  content: "";
  height: 100%;
  display: block;
}

.linktoggle {
  position: absolute;
  right: 0.5rem; /* small padding from the edge */
  top: 50%;
  transform: translateY(-50%);
  font-size: xx-large;
  cursor: pointer;
  padding: 0.5rem;
  display: block;
  align-items: center;
  justify-content: center;
  -webkit-user-select: none;
  -ms-user-select: none;
}

#linktoggle {
  display: none;
}

#linktoggle:checked ~ .navlinks {
  /* left: 0;
                top: 80px; */
  opacity: 1;
  background-color: var(--color-card);
  top: 100%;
  padding-bottom: 10px;

  visibility: visible;
}

@media screen and (min-width: 700px) {
  /* .linktoggle {
                    display: none;
                } */

  .navlinks {
    display: flex;
    visibility: visible;
    flex-direction: row;
    justify-content: flex-end;
  }
}
