[class^="col-"] {
    padding: 8px;
}

.col-1 {
    width: 8.3333%;
}

.col-2 {
    width: 16.66667%;
}

.col-4 {
    width: 33.3333%;
}

.col-6 {
    width: 50%;
}

.col-12 {
    width: 100%;
}

@media (max-width: 600px) {
    .col-1 {
        width: 25%;
    }

    .col-2 {
        width: 50%;
    }

    .col-4,
    .col-6,
    .col-12 {
        width: 100%;
    }
}