:root {
  --color-background: #121212;
  --color-background-1: #181c1f;
  --color-text: #e0e0e0;
  --color-accent-wood: #8b5e3c;
  --color-accent-green: #6c7a89;
  --color-highlight: #c9a66b;
  --color-card: #1e1e1e;
}

body {
  background-color: var(--color-background);
  color: var(--color-text);
  padding: 50px 0px;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}
