.service-card {
  background-color: var(--color-card);
  display: inline-block;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-indent: 10px;
  position: relative;
  overflow: hidden;
}

.service-card img {
  width: 100%;
}

.service-card p {
  text-align: center;
}

.service-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-items: center;
  padding: 0 20px;
}

#service h2 {
  text-align: center;
}

#service h3,
p {
  margin: 7px;
}

@media screen and (min-width: 700px) {
  .service-list {
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-items: center;
  }

  .service-card {
    max-width: 400px;
    transition-property: transform, filter;
    transition: all 0.25s;
  }

  .service-card:hover {
    box-shadow: -2px 2px var(--color-accent-green);
    transform: translate(2px, -2px);
    filter: brightness(85%);

    transition-property: transform, filter;
    transition: all 0.25s;
  }
}
