.service-card {
  background-color: var(--color-card);
  display: inline-block;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-indent: 10px;
  position: relative;
  overflow: hidden;
}

.service-card img {
  width: 100%;
}

.service-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-items: center;
  padding: 0 20px;
}

#service h2 {
  text-align: center;
}

#service h3,
p {
  margin: 10px;
}

@media screen and (min-width: 700px) {
  .service-list {
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-items: center;
  }

  .service-card {
    width: 400px;
  }
}
